<div id="popup_publication">
    <h3 class="title">Ajouter une publication</h3>
    <div id="popup_publication_img">
        <img src="{{ asset('bundles/user/images/avatars/'~app.user.avatar.path) }}" alt="{{ app.user.username }}" class="avatar" />
    </div>

    <div id="popup_publication_ctt">
        <form action="{{ path('award_me_add_publication') }}" {{ form_enctype(form) }} method="POST">
        <div>
            {{ form_errors(form.content) }}
            {{ form_widget(form.content) }}
        </div>

        {{ form_rest(form) }}

        <div>
            <input type="submit" value="Publier maintenant"  class="submit-pub"/>
            <div id="legende" class="insuffisant"></div>
        </div>
       </form>
    </div>

</div>
