{% trans_default_domain 'FOSUserBundle' %}

<div id="box-fos-user-show">
    <h3 class="profile-title">C'est ainsi que les autres utilisateurs voit votre profile</h3>

    <div class="profil-avatar">
        <img src="{{ asset('bundles/user/images/avatars/'~app.user.avatar.path)}} " alt="{{ user.username }}" class="avatar" />
        <p class="points">2000 Points</p>
    </div>


    <p class="username">{{ user.username }} </p>
    <p class="realname">
        {% if app.user.name is defined and app.user.firstname is defined %}
            {{ app.user.firstname }} {{ app.user.name }}
        {% elseif app.user.name is defined and app.user.firstname is not defined %}
            {{ app.user.name }}
        {% elseif app.user.name is not defined and app.user.firstname is defined %}
            {{ app.user.firstname }}
        {% else %}
            Non communiqué
        {% endif %}</p>

    <p>{{ user.email }}</p>

    <p>Date d'inscription : {{ app.user.created|date('d/m/y') }} à {{ app.user.created|date('H:i') }}</p>
    <p>Derniere connexion: {{ app.user.lastLogin|date('d/m/y') }} à {{ app.user.lastLogin|date('H:i') }}</p>

    <h4 class="profile-step">Derniers badges obtenus</h4>
    <p>Aucun</p>

    <h4 class="profile-step">Derniers challenges participés</h4>
    <p>Aucun</p>

    <h4 class="profile-step">Signature</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt impedit maxime officia sit.
        Consequuntur corporis
        dignissimos iusto odio perspiciatis sed. Ad architecto at earum est et exercitationem nemo odio.</p>

    <div id="social">
        <input type="button" value="Ajouter à ma liste" class="add">
        <input type="button" value="Retirer de ma liste" class="remove">
    </div>


    <div class="clear_right"></div>
