<div class="box">

    <div id="box-content_left">

        <div class="box-content case1">
            <div class="box-content-img logo1"></div>
            <div class="box-content-txt txt1">
                <h3 class="number">71</h3>
                <p class="descriptif">Réussites</p>
            </div>
        </div>

        <div class="box-content case2">
            <div class="box-content-img logo2"></div>
            <div class="box-content-txt txt2">
                <h3 class="number">02</h3>
                <p class="descriptif">Amis</p>

            </div>
        </div>

        <div class="box-content case3">
            <div class="box-content-img logo3"></div>
            <div class="box-content-txt txt3">
                <h3 class="number">32</h3>
                <p class="descriptif">Challenges</p>
            </div>
        </div>

        <div class="box-content case4">
            <div class="box-content-img logo4"></div>
            <div class="box-content-txt txt4">
                <h3 class="number">07</h3>
                <p class="descriptif">Nouveautés</p>
            </div>
        </div>

        <div class="clear"></div>

        <div id="box-propose">
            <h3 class="box-title-suggestion">Challenges populaires</h3>

            <div class="box-propose-content">
                <div class="box-propose-img"><img src="{{ asset('bundles/user/images/avatars/noAvatar.png') }}" alt="" class="challenge-img"/></div>
                <div class="box-propose-desc">
                    <p>Personnalisation de compte <span class="number">100</spa></p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="box-propose-content">
                <div class="box-propose-img"><img src="{{ asset('bundles/user/images/avatars/noAvatar.png') }}" alt="" class="challenge-img"/></div>
                <div class="box-propose-desc">
                    <p>Personnalisation de compte <span class="number">100</spa></p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="box-propose-content">
                <div class="box-propose-img"><img src="{{ asset('bundles/user/images/avatars/world-burn.jpg') }}" alt="" class="challenge-img"/></div>
                <div class="box-propose-desc">
                    <p>Un Challenge à la con<span class="number">20</spa></p>
                </div>
            </div>

            <div class="box-propose-content">
                <div class="box-propose-img"><img src="{{ asset('bundles/user/images/avatars/amandine.jpg') }}" alt="" class="challenge-img"/></div>
                <div class="box-propose-desc">
                    <p>Lorem ipsum dolor sit ametm <span class="number">1</spa></p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="box-propose-content">
                <div class="box-propose-img"><img src="{{ asset('bundles/user/images/avatars/world-burn.jpg') }}" alt="" class="challenge-img"/></div>
                <div class="box-propose-desc">
                    <p>Lorem ipsum dolor sit  <span class="number">76</spa></p>
                </div>
            </div>

        </div>

    </div>

    <div id="box-content_right">


        {% for p in publications %}

            <div class="box-diary">
                <img src="{{ asset('bundles/user/images/avatars/'~ p.user.avatar.path ) }}" alt="" class="user-avatar"/>
                <h4 class="diary-username">{{ p.user.username }}, <span class="option">{{ p.date|date('d M y') }} à {{ p.date|date('H:i') }} </span></h4>

                {% if p.path is defined %}
                    {% set imagepath = 'uploads/publicationsImages/'~p.path  %}
                    <div class="publication-pic-box">
                        <img src="{{ imagepath | imagine_filter('my_thumb') }}" class="publication-pic" alt="{{ p.user.username }}"/>
                        <p class="diary-content">{{ p.content }}</p>
                        <div class="clear"></div>
                    </div>
                {% else %}

                    <div>
                        <p class="diary-content">{{ p.content }}</p>
                    </div>

                {% endif %}

                <div class="box-diary-options">

                    <div class="options-box" id="options-box-{{ p.id }}">
                        <ul id="options-ul">

                            <li class="options-li"><a href="#" rel="{{ p.id }}"{% if p.path is defined %} class="options-list-img" {% else %} class="options-list" {% endif %}>Ne plus afficher cette publication.</a></li>


                            <li class="options-li"><a href="#" class="options-list">Signaler le contenu.</a></li>
                            <li class="options-li"><a href="#" class="options-list">Ajouter l'auteur à mes amis.</a></li>
                            <li class="options-li"><a href="#" data-width="500" {% if p.path is defined %} data-rel="popup_update-img-{{ p.id }}" {% else %}data-rel="popup_update-{{ p.id }}" {% endif %}class="poplight">Modifier ma publication</a></li>
                        </ul>
                    </div>

                    <span class="options"><a href="#" class="opt"> Commenter </a> - <a href="#" class="opt">Suggérer</a> - <a href="#" rel="{{ p.id }}" class="opt-hide" > Options</a></span>
                </div>
            </div>


            <div id="popup_update-{{ p.id }}" class="popup_block">
                {% render(controller('AwardMeBundle:Publication:Update', { 'id': p.id })) %}
            </div>

            <div id="popup_update-img-{{ p.id }}" class="popup_block">
                {% render(controller('AwardMeBundle:Publication:UpdatePublicationImage', { 'id': p.id })) %}
            </div>


        {% endfor %}

    </div>

</div>