<div class="box">

    <div id="box-content_left">

        <div class="box-content case1">
            <div class="box-content-img logo1"></div>
            <div class="box-content-txt txt1">
                <h3 class="number">71</h3>
                <p class="descriptif">Réussites</p>
            </div>
        </div>

        <div class="box-content case2">
            <div class="box-content-img logo2"></div>
            <div class="box-content-txt txt2">
                <h3 class="number">02</h3>
                <p class="descriptif">Amis</p>

            </div>
        </div>

        <div class="box-content case3">
            <div class="box-content-img logo3"></div>
            <div class="box-content-txt txt3">
                <h3 class="number">32</h3>
                <p class="descriptif">Challenges</p>
            </div>
        </div>

        <div class="box-content case4">
            <div class="box-content-img logo4"></div>
            <div class="box-content-txt txt4">
                <h3 class="number">07</h3>
                <p class="descriptif">Nouveautés</p>
            </div>
        </div>

        <div class="clear"></div>

        <div id="box-propose">
            <h3 class="box-title-suggestion">Challenges populaires</h3>

            <div class="box-propose-content">
                <div class="box-propose-img"><img src="{{ asset('bundles/user/images/avatars/noAvatar.png') }}" alt="" class="challenge-img"/></div>
                <div class="box-propose-desc">
                    <p>Personnalisation de compte <span class="number">100</spa></p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="box-propose-content">
                <div class="box-propose-img"><img src="{{ asset('bundles/user/images/avatars/noAvatar.png') }}" alt="" class="challenge-img"/></div>
                <div class="box-propose-desc">
                    <p>Personnalisation de compte <span class="number">100</spa></p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="box-propose-content">
                <div class="box-propose-img"><img src="{{ asset('bundles/user/images/avatars/world-burn.jpg') }}" alt="" class="challenge-img"/></div>
                <div class="box-propose-desc">
                    <p>Un Challenge à la con<span class="number">20</spa></p>
                </div>
            </div>

            <div class="box-propose-content">
                <div class="box-propose-img"><img src="{{ asset('bundles/user/images/avatars/amandine.jpg') }}" alt="" class="challenge-img"/></div>
                <div class="box-propose-desc">
                    <p>Lorem ipsum dolor sit ametm <span class="number">1</spa></p>
                </div>
                <div class="clear"></div>
            </div>

            <div class="box-propose-content">
                <div class="box-propose-img"><img src="{{ asset('bundles/user/images/avatars/world-burn.jpg') }}" alt="" class="challenge-img"/></div>
                <div class="box-propose-desc">
                    <p>Lorem ipsum dolor sit  <span class="number">76</spa></p>
                </div>
            </div>

        </div>

    </div>

    <div id="box-content_right">


        {% for p in publications %}

            <div class="box-diary ami">
                <img src="{{ asset('bundles/user/images/avatars/'~ p.user.avatar.path ) }}" alt="" class="user-avatar"/>
                <h4 class="diary-username">{{ p.user.username }}, <span class="option">{{ p.date|date('d M') }}, {{ p.date|date('H:i') }} </span></h3>

                <p class="diary-content">{{ p.content }}</p>

                <div class="box-diary-options">

                    <div class="options-box" id="options-box-{{ p.id }}">
                        <ul id="options-ul">
                            <li class="options-li"><a href="#" rel="{{ p.id }}" class="options-list">Ne plus afficher cette publication.</a></li>
                            <li class="options-li"><a href="#" class="options-list">Signaler le contenu.</a></li>
                            <li class="options-li"><a href="#" class="options-list">Ajouter l'auteur à mes amis.</a></li>
                            <li class="options-li"><a href="#" data-width="500" data-rel="popup_update-{{ p.id }}" class="poplight">Modifier ma publication</a></li>
                        </ul>
                    </div>

                    <span class="options"><a href="#" class="opt"> Commenter </a> - <a href="#" class="opt">Suggérer</a> - <a href="#" rel="{{ p.id }}" class="opt-hide" > Options</a></span>
                </div>
            </div>


            <div id="popup_update-{{ p.id }}" class="popup_block">
                {% render(controller('AwardMeBundle:Publication:Update', { 'id': p.id })) %}
            </div>

        {% endfor %}

        <div class="box-diary ami">
                <img src="{{ asset('bundles/user/images/avatars/amandine.jpg') }}" alt="" class="user-avatar"/>
                <h4 class="diary-username">Christophe Gautier, <span class="option">Le 18/07/14 à 22h18</span></h3>

                <p class="diary-content">Bonjour,
                    deserunt dicta dolores ea exercitationem impedit magnam minima, nemo non odit quibusdam quidem quos,
                    recusandae suscipit unde ut?</p>

                <div class="box-diary-options">
                    <span class="options"><a href="#" class="opt"> Commenter </a> - <a href="#" class="opt">Suggérer</a> - <a href="#" class="opt"> Retirer </a></span>
                </div>
            </div>

        <div class="box-diary challenge">
            <img src="{{ asset('bundles/user/images/avatars/amandine.jpg') }}" alt="" class="user-avatar"/>
            <h4 class="diary-username">Jeremy Gautier, <span class="option">Le 18/07/14 à 22h18</span></h3>
            <p class="diary-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquam architecto at consectetur
                deserunt dicta dolores ea exercitationem impedit magnam minima, nemo non odit quibusdam quidem quos,
                recusandae suscipit unde ut?</p>

            <div class="box-diary-options">
                <span class="options"><a href="#" class="opt"> Commenter </a> - <a href="#" class="opt">Suggerer</a> - <a href="#" class="opt"> Retirer </a></span>
            </div>

        </div>

        <div class="box-diary reussite">
            <img src="{{ asset('bundles/user/images/avatars/noAvatar.png') }}" alt="" class="user-avatar"/>
            <h4 class="diary-username">Emma Gautier, <span class="option">Le 18/07/14 à 22h18</span></h3>
            <p class="diary-content">
                Deserunt dicta dolores ea exercitationem impedit magnam minima, nemo non odit quibusdam quidem quos,
                recusandae suscipit unde ut?</p>

            <div class="box-diary-options">
                <span class="options"><a href="#" class="opt"> Commenter </a> - <a href="#" class="opt">Suggérer</a> - <a href="#" class="opt"> Retirer </a></span>
            </div>

        </div>
    </div>

</div>